.root {
  padding: 24px;
  overflow: auto;
  :global(.footer) {
    margin-top: 8px;
  }
}

.worker-select-list {
  :global(.header) {
    padding: 2px 2px 2px 16px;
  }
  :global(.inner) {
    max-height: 440px;
    overflow: auto;
    padding: 16px 8px 8px 16px;
  }
  :global(.MuiDivider-root) {
    margin-top: 3px;
  }
}
